/* @import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

body *{
  font-family: 'Lato', sans-serif;
  color: #1f1e1e;
}
*/
#form{
  width: 300px;
  margin: auto;
}

#form #button{
  text-align: center;
}

#resultContainer{
  text-align: center;
  padding: 10%;
}

#resultContainer #result{
  font-size: 30px;
  font-weight: bold;
} 
