@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

body *{
  font-family: 'Lato', sans-serif;
  transition:all .1s linear;
  -webkit-transition:all .1s linear;
  -moz-transition:all .1s linear;
  -o-transition:all .1s linear;
  color: #1f1e1e;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#form{
  width: 300px;
  margin: auto;
}

#form #button{
  text-align: center;
}

#resultContainer{
  text-align: center;
  padding: 10%;
}

#resultContainer #result{
  font-size: 30px;
  font-weight: bold;
}
