<section id="experience" class="section experience">
  <h2>Experience</h2>
  <div class="timeline">
    <div class="event">
      <div class="date">2024 - Present</div>
      <div class="details">
        <h3>Technical Project Leader <br> <span class="at">@Stackhouse - Spindox</span></h3>
        <ul>
          <li>Lead and mentor.</li>
          <li>Define project roadmaps, run sprint planning and retrospectives.</li>
          <li>Conduct code reviews and enforce best practices to improve overall code quality.</li>
        </ul>
      </div>
    </div>
    <div class="event">
      <div class="date">2015 - 2024</div>
      <div class="details">
        <h3>Web Developer &amp; Customer Success &amp; Professional Services Lead &amp; Technical Trainer <br> <span class="at">@Vivocha</span></h3>
        <ul>
          <li>Gathered requirements and rolled out custom platform integrations for banking and insurance customers.</li>
          <li>Acted as the point of contact and drove projects from kickoff through go-live.</li>
          <li>Created and presented hands-on workshops on JavaScript SDKs and REST APIs to international developer teams.</li>
          <li>Customized training materials to suit both technical and non-technical audiences.</li>
          <li>Implemented HTML/CSS/JavaScript solutions for customer-facing components.</li>
          <li>Advised clients on tailored workflows and best-practice implementations to boost productivity.</li>
          <li>Provided second-level support, resolving high-priority tickets and maintaining SLAs.</li>
        </ul>
      </div>
    </div>
    <div class="event">
      <div class="date">2010 - 2015</div>
      <div class="details">
        <h3>Developer &amp; Intern <br> <span class="at">@Reilabs</span></h3>
        <ul>
          <li>Developed both front-end and back-end features for a web analytics tool.</li>
          <li>Integrated RESTful data feeds and built interactive dashboards for KPI visualization.</li>
          <li>Collaborated to refine metrics and optimize page load and Database performance</li>
        </ul>
      </div>
    </div>
  </div>
</section>
